<div class="flex flex-col bg-white">
  <div
    class="flex justify-between items-center px-[14px] py-[20px] w-full h-full"
  >
    <div
      class="text-[20px] font-extrabold text-[#A51B65] flex gap-10 justify-center items-center"
    >
      <p>BabbySitter</p>
    </div>
    <div>
      <input
        type="text"
        class="border-2 border-[#A51B65] rounded-[10px] px-[10px] py-[5px] text-[#A51B65] text-[12px] font-normal"
        placeholder="Search"
      />
    </div>

    <div class="flex justify-center items-center gap-2 md:gap-8">
      <div
        class="flex justify-center w-8 h-8 items-center bg-[#D235651A] rounded-full relative"
      >
        <div
          class="bg-[#D23565] w-3 h-3 absolute top-0 right-0 text-xs text-white rounded-full flex justify-center items-center"
        >
          1
        </div>
        <ng-icon name="ionNotifications" color="black"> </ng-icon>
      </div>
      <div class="text-[14px] font-normal text-[#0D062D]">Abdessamad Pas</div>
    </div>
  </div>
  <div
    class="flex items-center justify-start px-5 py-1 border-t-2 border-[#F1F3F9]"
  >
    <img src="{Home}" alt="" width="{15}" />
    <div class="gap-2">
      <span class="text-[12px] font-normal ml-2">/ Page</span>
      <span class="text-[12px] font-normal ml-2">/ Page</span>
      <span class="text-[12px] font-normal ml-2">/ Page</span>
      <span class="text-[12px] font-normal ml-2">/ Page</span>
    </div>
  </div>
</div>
