
<div class="fixed top-0 right-0 h-full w-64 bg-white shadow-2xl  overflow-y-auto pt-5">
    <div class="" (click)="openMenu.emit()"><ng-icon name="featherArrowRight" color="black" ></ng-icon></div>
    <ul class="list-none p-0 m-0">
      <li class="p-4 border-b border-gray-200">
        <a class="text-black font-bold">Option 1</a>
      </li>
      <li class="p-4 border-b border-gray-200">
        <a class="text-black font-bold">Option 2</a>
      </li>
      <li class="p-4">
        <a class="text-black font-bold">Option 3</a>
      </li>
    </ul>
  </div>
  
