<div>
    <app-header-home></app-header-home>
    <div class="ml-3 flex flex-wrap gap-4">
        <app-filter></app-filter>
        <app-filter></app-filter>
        <app-filter></app-filter>
        <app-filter></app-filter>
    </div>
    <div class="flec flex-col m-8 space-x-1">
        <app-bs-card
        [name]="name1"
        [description]="description1"
        [price]="price1"
        [image]="profile1"
    ></app-bs-card>
    <app-bs-card
        [name]="name1"
        [description]="description1"
        [price]="price1"
        [image]="profile1"
    ></app-bs-card>
    <app-bs-card
        [name]="name1"
        [description]="description1"
        [price]="price1"
        [image]="profile1"
    ></app-bs-card>
    </div>
    <!-- <div id="map" class="w-[100vh] h-[80vh] m-auto"></div>     -->
    
</div>
