<div class="p-10 mt-4">
    <ul class="flex gap-3 justify-items-start" >
        <li>
            <a href="" class="text-red-500 font-semibold">Register</a>
        </li>
        <li>
            <a href=""  class="text-[#A5AAB7] font-light text-sm">Pricing Plans</a>
        </li>
        <li>
            <a href="" class="text-[#A5AAB7] font-light text-sm">FAQ</a>
        </li>
        <li>
            <a href="" class="text-[#A5AAB7] font-light text-sm">Terms</a>
        </li>
        <li>
            <a href="" class="text-[#A5AAB7] font-light text-sm">Contact</a>
        </li>
        
        
    </ul>

</div>
